<div class="container-fluid">
	<div class="row">
		<div class="col-sm-5"
			style="display: flex;flex-direction: column;flex: 1; min-height: 100vh;padding: 10px 5px 5px 2px;">
			<div style="display: flex; flex-direction: row;">
				<img class="img-responsive" src="assets/OyeWallet.png">
			</div>
			<div style="display: flex; flex-direction: row; align-items: center; justify-content: center;
				font-family:Quiksand, Sans-serif !important; 
				color: #FFB81A; 
				opacity: 1;
				font-size: 3.5vw;
				font-weight: 200;
				margin: 20px 0px 10px 0px;">
				Login
			</div>
			<div
				style="display: flex; flex:1;flex-direction: column; align-items: flex-end; justify-content: flex-end ;">
				<img class="img-responsive center-block" src="assets/login_img.png">
			</div>
		</div>
		<div class="col-sm-2"></div>	
		<div class="col-sm-4">

			<div class="col" style="
			display:flex;
			flex-direction:column;
			align-items: center;
			justify-content: center;
			padding:60px 40px 60px 40px;
			
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
			  transition: 0.3s; margin-top: 100px; border-radius: 20px;">
				<div style="
				display: flex;
				align-items: center;
				justify-content: center;
				font-family:Quiksand, Sans-serif !important; 
				font-size: 2vw;
				font-weight: 200;">
					Get In
				</div>
				<div style="display: flex;
				flex-direction: row;
				align-items: baseline;
				justify-content: space-between;
				margin: 50px 0px 10px 0px;
				width: 100%;">
					<div class="form-group">
						<div class="form-group" style="width:100%;">
							<input type="text" ng2TelInput [ng2TelInputOptions]="{initialCountry: 'in'}"
								[disabled]="disableGetINButton" (ng2TelOutput)="getNumber($event)"
								(intlTelInputObject)="telInputObject($event)" (hasError)="hasError($event)"
								(countryChange)="onCountryChange($event)" name="mobilenumber"
								placeholder="Mobile Number" #mobilenumber="ngModel" id="mobnum"
								pattern="^[6-9]{1}[0-9]{9}$" required [(ngModel)]='mobileNumber' maxlength="10"
								minlength="10" class="form-control" />
						</div>
						<div class="alerts warning" *ngIf="mobilenumber?.invalid && mobilenumber?.touched">
							<div *ngIf="mobilenumber?.errors?.required">
								Mobile number is required
							</div>
							<div
								*ngIf="(mobilenumber.invalid&&(mobilenumber?.errors?.minlength?.actualLength!=mobilenumber?.errors?.minlength?.requiredLength))">
								Invalid mobile number
							</div>
						</div>
					</div>
					<div>
						<input type="button" #get_otp_btn value="Get OTP" class="btn btn-primary"
							[disabled]="mobileNumber?.length!=10" (click)="getOTP()"
							style="border-radius: 20px; background: #FFB81A;opacity:1;border-color:rgb(240, 164, 51)" />
					</div>
				</div>

				<div class="form-group" style="width:100%">
					<div style="display: flex;flex-direction: row; align-items: center;">
						<img src="assets/key.png" width="24px" height="24px" style="position: absolute; margin-left: 4px; "/>
						<input class="form-control" style="padding-left: 35px;" placeholder="Enter OTP" type="text" name="otp" [(ngModel)]="otp"
							maxlength="6" required />
					</div>

					<a class="otp" aria-disabled="true" id="otpBycall" href="" (click)="OTPByCall($event)"
						[class.disabled]="mobileNumber?.length!=10">OTP by Call</a><br>
				</div>
				<div>
					<input type="button" (click)="getIN(); loginForm.reset()" class="btn btn-primary"
						style="border-radius: 20px;border-color: rgb(240, 164, 51); opacity:1;background: #FFB81A; margin-top:40px"
						[disabled]="!((otp?.length)&&(disableGetINButton))" value="Get IN" />
				</div>

			</div>




		</div>
		<div class="col-sm-1">

		</div>

	</div>
</div>