<div class="row bg" style="background-image: url('assets/bg-01.jpeg');">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4"></div>
			<div class="col-lg-4 col-md-4 login-box">

				<div class="col-lg-12 login-title">
					<img class="img-responsive center-block" src="assets/OyeWallet.png">
				</div>

				<div class="col-lg-12 login-form">
					<h4 class="form-head">Client Access</h4>
					<div class="col-lg-12 login-form">
						<form #loginForm="ngForm">
							<div class="form-group first-row">
								<div class="input-wrapper">
									<!-- (ngModelChange)="onMobileNumberValueChange($event)" -->
									<!-- <input type="text" [(ngModel)]="mobileNumber" #mobileNo="ngModel" required
										minlength="10" maxlength="10" pattern="[0-9]+" name="mobileNo"
										placeholder="Mobile Number"> -->


									<input type="text" ng2TelInput [ng2TelInputOptions]="{initialCountry: 'in'}"
										[disabled]="disableGetINButton" (ng2TelOutput)="getNumber($event)"
										(intlTelInputObject)="telInputObject($event)" (hasError)="hasError($event)"
										(countryChange)="onCountryChange($event)" name="mobilenumber"
										placeholder="Mobile Number" #mobilenumber="ngModel" id="mobnum"
										pattern="^[6-9]{1}[0-9]{9}$" required [(ngModel)]='mobileNumber' maxlength="10"
										minlength="10" style="border-bottom: 1px solid #F08A33;" />
									<div class="alerts" *ngIf="mobilenumber?.invalid && mobilenumber?.touched"
										style=" position: absolute; font-size: 11px; color: red; ">
										<div *ngIf="mobilenumber?.errors?.required">
											Mobile number is required
										</div>
										<div
											*ngIf="(mobilenumber.invalid&&(mobilenumber?.errors?.minlength?.actualLength!=mobilenumber?.errors?.minlength?.requiredLength))">
											Invalid mobile number
										</div>
									</div>




									<!-- <div class="help-block" *ngIf="mobileNo.touched&&mobileNo.errors&&mobileNo.invalid">
									
										<div *ngIf="mobileNo?.errors?.required">
											Mobile number is required
										</div>
										<div
											*ngIf="(mobileNo.invalid&&(mobileNo?.errors?.minlength?.actualLength!=mobileNo?.errors?.minlength?.requiredLength))">
											Invalid mobile number, It should be 10 digits.
										</div>
									</div> -->

									<!-- //<div *ngIf="mobileNo.valid && (mobileNo.dirty || mobileNo.touched)" -->
									<!-- <div [hidden]="mobileNo.valid || mobileNo.pristine" class="alert alert-danger"> -->

								</div>
								<div>
									<input type="button" #get_otp_btn value="Get OTP" class="btn btn-primary"
										[disabled]="mobileNumber?.length!=10" (click)="getOTP()"
										style="border-radius: 20px;" />

								</div>
							</div>
							<div #countdown_timer
								style="display:flex;flex-direction: row; justify-content: flex-end; margin-top: -25px; min-height: 25px;">
							</div>
							<div class="form-group">
								<div class="input-wrapper1">
									<input placeholder="Enter OTP" type="text" name="otp" [(ngModel)]="otp"
										maxlength="6" required />
								</div>
								<a class="otp" aria-disabled="true" id="otpBycall" href="" (click)="OTPByCall($event)" [class.disabled]="mobileNumber?.length!=10"
									>OTP by Call</a><br>
							</div>

							<!-- <div id="snackbar">OTP Sent</div> -->
							<div class="col-lg-12 loginbttm">
								<div class="col-lg-6 login-btm login-button">
									<input type="button" (click)="getIN(); loginForm.reset()" class="btn btn-primary1"
										[disabled]="!((otp?.length)&&(disableGetINButton))" value="Get IN" />
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="col-lg-4 col-md-4"></div>
			</div>
		</div>
	</div>