<div class="container-fluid">
    <div class="row justify-content-center" style="margin-top: 15px;">
        <h2>Upload KYC Documents</h2>
    </div>
    <div class="row" style="margin: 50px 0px;">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <form novalidate [formGroup]="formImport">
                <div class="card">
                    <div class="card-header">MERCHANT</div>
                    <div class="card-body">
                        <div class="input-group mb-3"
                            style="display: flex;flex-direction: row;justify-content: space-around;flex-wrap: wrap;align-items: center;">
                            <!-- <div>
                                <span>Applicant Image: </span> -->
                            <!-- <input type="file" name="applicantPic" [attr.disabled]="applicantPicStatus ? '' : null"
                                    (change)="onFileChange($event, 'applicantPic')" /> -->
                            <!-- <span class="btn btn-primary btn-file">
                                    Choose file
                                    <input type="file" name="applicantPic"
                                        class="input-group mb-3"(change)="onFileChange($event, 'applicantPic')" />
                                </span> -->

                            <!-- <div class="input-group">
                                    <label class="input-group-btn">
                                        <span class="btn btn-primary">
                                            Browse&hellip; <input type="file" style="display: none;" multiple>
                                        </span>
                                    </label>
                                    <input type="text" class="form-control" readonly>
                                </div> -->

                            <!-- <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Upload</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile01">
                                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                    </div>
                                </div> -->

                            <!-- <div class="input-group mb-3"> -->
                            <span>Applicant Image: </span>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" multiple id="applicantPic"
                                    (change)="onFileChange($event, 'applicantPic')">
                                <label style="width: 60%; margin-left: 10px;" class="custom-file-label" #labelImport for="applicantPic">Choose
                                    file</label>
                            </div>
                            <!-- </div> -->
                            <!-- <button class="btn btn-outline-primary" type="button"
                                    (click)="upload('applicantPic')">Upload</button>
                            </div> -->

                            <div *ngIf="!applicantPicStatus; else elseBlock">
                                <button class="btn btn-outline-primary" type="button"
                                    (click)="upload('applicantPic')">Upload</button>
                            </div>
                            <ng-template #elseBlock>
                                <i class="fa fa-check-circle fa-2x" aria-hidden="true" style="color:green;"></i>
                            </ng-template>


                        </div>
                    </div>
                </div>
                <div class="card" style="margin-top: 15px;">
                    <div class="card-header">PAN</div>
                    <div class="card-body">
                        <div style="display: flex;flex-direction: row;justify-content: space-between;flex-wrap: wrap;">
                            <div style="display: flex;">
                                <span>Front Image: </span>
                                <input type="file" name="panFront" (change)="onFileChange($event, 'panFront')"
                                    [attr.disabled]="panFrontStatus ? '' : null" />
                                <div *ngIf="!panFrontStatus; else elseBlock">
                                    <button class="btn btn-outline-primary" type="button"
                                        (click)="upload('panFront')">Upload</button>
                                </div>
                                <ng-template #elseBlock>
                                    <i class="fa fa-check-circle fa-2x" aria-hidden="true" style="color:green;"></i>
                                </ng-template>


                            </div>
                            <div style="display: flex;">
                                <span>Back Image: </span>
                                <input type="file" name="panBack" (change)="onFileChange($event, 'panBack')"
                                    [attr.disabled]="panBackStatus ? '' : null" />
                                <div *ngIf="!panBackStatus; else elseBlock">
                                    <button class="btn btn-outline-primary" type="button"
                                        (click)="upload('panBack')">Upload</button>
                                </div>
                                <ng-template #elseBlock>
                                    <i class="fa fa-check-circle fa-2x" aria-hidden="true" style="color:green;"></i>
                                </ng-template>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="margin-top: 15px;">
                    <div class="card-header">AADHAR</div>
                    <div class="card-body">
                        <div style="display: flex;flex-direction: row;justify-content: space-between;flex-wrap: wrap;">
                            <div style="display: flex;">
                                <span>Front Image: </span>
                                <input type="file" name="aadharFront" (change)="onFileChange($event, 'aadharFront')"
                                    [attr.disabled]="aadharFrontStatus ? '' : null" />
                                <div *ngIf="!aadharFrontStatus; else elseBlock">
                                    <button class="btn btn-outline-primary" type="button"
                                        (click)="upload('aadharFront')">Upload</button>
                                </div>
                                <ng-template #elseBlock>
                                    <i class="fa fa-check-circle fa-2x" aria-hidden="true" style="color:green;"></i>
                                </ng-template>
                            </div>
                            <div style="display: flex;">
                                <span>Back Image: </span>
                                <input type="file" name="aadharBack" (change)="onFileChange($event, 'aadharBack')"
                                    [attr.disabled]="aadharBackStatus ? '' : null" />
                                <div *ngIf="!aadharBackStatus; else elseBlock">
                                    <button class="btn btn-outline-primary" type="button"
                                        (click)="upload('aadharBack')">Upload</button>
                                </div>
                                <ng-template #elseBlock>
                                    <i class="fa fa-check-circle fa-2x" aria-hidden="true" style="color:green;"></i>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="margin-top: 15px;">
                    <div class="card-header">Bank Passbook/Cancelled Cheque</div>
                    <div class="card-body">
                        <div style="display: flex;flex-direction: row;justify-content: space-between;flex-wrap: wrap;">
                            <div>
                                <span>Passbook/Cancelled Cheque: </span>
                                <input type="file" name="bankPassbook" (change)="onFileChange($event, 'bankPassbook')"
                                    [attr.disabled]="bankPassbookStatus ? '' : null" />
                            </div>
                            <div *ngIf="!bankPassbookStatus; else elseBlock">
                                <button class="btn btn-outline-primary" type="button"
                                    (click)="upload('bankPassbook')">Upload</button>
                            </div>
                            <ng-template #elseBlock>
                                <i class="fa fa-check-circle fa-2x" aria-hidden="true" style="color:green;"></i>
                            </ng-template>

                        </div>
                    </div>
                </div>
                <div class="card" style="margin-top: 15px;">
                    <div class="card-header">GST</div>
                    <div class="card-body">
                        <div style="display: flex;flex-direction: row;justify-content: space-between;flex-wrap: wrap;">
                            <div>
                                <span>GST Image: </span>
                                <input type="file" name="gst" (change)="onFileChange($event, 'gst')"
                                    [attr.disabled]="gstStatus ? '' : null" />
                            </div>
                            <div *ngIf="!gstStatus; else elseBlock">
                                <button class="btn btn-outline-primary" type="button"
                                    (click)="upload('gst')">Upload</button>
                            </div>
                            <ng-template #elseBlock>
                                <i class="fa fa-check-circle fa-2x" aria-hidden="true" style="color:green;"></i>
                            </ng-template>

                        </div>
                    </div>
                </div>
                <div class="card" style="margin-top: 15px;">
                    <div class="card-header">ADDRESS</div>
                    <div class="card-body">
                        <div style="display: flex;flex-direction: row;justify-content: space-between;flex-wrap: wrap;">
                            <div style="display: flex;">
                                <span>Image-1: </span>
                                <input type="file" name="addressPic_1" (change)="onFileChange($event, 'addressPic_1')"
                                    [attr.disabled]="addressPic_1Status ? '' : null" />
                                <div *ngIf="!addressPic_1Status; else elseBlock">
                                    <button class="btn btn-outline-primary" type="button"
                                        (click)="upload('addressPic_1')">Upload</button>
                                </div>
                                <ng-template #elseBlock>
                                    <i class="fa fa-check-circle fa-2x" aria-hidden="true" style="color:green;"></i>
                                </ng-template>
                            </div>
                            <div style="display: flex;">
                                <span>Image-2: </span>
                                <input type="file" name="addressPic_2" (change)="onFileChange($event, 'addressPic_2')"
                                    [attr.disabled]="addressPic_2Status ? '' : null" />
                                <div *ngIf="!addressPic_2Status; else elseBlock">
                                    <button class="btn btn-outline-primary" type="button"
                                        (click)="upload('addressPic_2')">Upload</button>
                                </div>
                                <ng-template #elseBlock>
                                    <i class="fa fa-check-circle fa-2x" aria-hidden="true" style="color:green;"></i>
                                </ng-template>
                            </div>
                        </div>
                        <div
                            style="display: flex;flex-direction: row;justify-content: space-between; margin-top: 20px;flex-wrap: wrap;">
                            <div style="display: flex;">
                                <span>Image-3: </span>
                                <input type="file" name="addressPic_3" (change)="onFileChange($event, 'addressPic_3')"
                                    [attr.disabled]="addressPic_3Status ? '' : null" />
                                <div *ngIf="!addressPic_3Status; else elseBlock">
                                    <button class="btn btn-outline-primary" type="button"
                                        (click)="upload('addressPic_3')">Upload</button>
                                </div>
                                <ng-template #elseBlock>
                                    <i class="fa fa-check-circle fa-2x" aria-hidden="true" style="color:green;"></i>
                                </ng-template>
                            </div>
                            <div style="display: flex;">
                                <span>Image-4: </span>
                                <input type="file" name="addressPic_4" (change)="onFileChange($event, 'addressPic_4')"
                                    [attr.disabled]="addressPic_4Status ? '' : null" />
                                <div *ngIf="!addressPic_4Status; else elseBlock">
                                    <button class="btn btn-outline-primary" type="button"
                                        (click)="upload('addressPic_4')">Upload</button>
                                </div>
                                <ng-template #elseBlock>
                                    <i class="fa fa-check-circle fa-2x" aria-hidden="true" style="color:green;"></i>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="margin-top: 15px;">
                    <div class="card-header">STORE</div>
                    <div class="card-body">
                        <!-- <h5 class="card-title">Store Name Board image</h5> -->
                        <div style="display: flex;flex-direction: row;justify-content: space-between;flex-wrap: wrap;">
                            <div>
                                <span>Name Board: </span>
                                <input type="file" name="storeNameBoard"
                                    (change)="onFileChange($event, 'storeNameBoard')"
                                    [attr.disabled]="storeNameBoardStatus ? '' : null" />
                            </div>
                            <div *ngIf="!storeNameBoardStatus; else elseBlock">
                                <button class="btn btn-outline-primary" type="button"
                                    (click)="upload('storeNameBoard')">Upload</button>
                            </div>
                            <ng-template #elseBlock>
                                <i class="fa fa-check-circle fa-2x" aria-hidden="true" style="color:green;"></i>
                            </ng-template>
                        </div>
                        <!-- <h5 class="card-title" style="margin-top: 20px;">Store Interior images</h5> -->
                        <div
                            style="display: flex;flex-direction: row;justify-content: space-between; margin-top: 20px;flex-wrap: wrap; ">
                            <div style="display: flex;">
                                <span>Interior Pic-1: </span>
                                <input type="file" name="interiorPic_1" (change)="onFileChange($event, 'interiorPic_1')"
                                    [attr.disabled]="interiorPic_1Status ? '' : null" />
                                <div *ngIf="!interiorPic_1Status; else elseBlock">
                                    <button class="btn btn-outline-primary" type="button"
                                        (click)="upload('interiorPic_1')">Upload</button>
                                </div>
                                <ng-template #elseBlock>
                                    <i class="fa fa-check-circle fa-2x" aria-hidden="true" style="color:green;"></i>
                                </ng-template>
                            </div>
                            <div style="display: flex;">
                                <span>Interior Pic-2: </span>
                                <input type="file" name="interiorPic_2" (change)="onFileChange($event, 'interiorPic_2')"
                                    [attr.disabled]="interiorPic_2Status ? '' : null" />
                                <div *ngIf="!interiorPic_2Status; else elseBlock">
                                    <button class="btn btn-outline-primary" type="button"
                                        (click)="upload('interiorPic_2')">Upload</button>
                                </div>
                                <ng-template #elseBlock>
                                    <i class="fa fa-check-circle fa-2x" aria-hidden="true" style="color:green;"></i>
                                </ng-template>
                            </div>
                        </div>
                        <div
                            style="display: flex;flex-direction: row;justify-content: space-between; margin-top: 20px;flex-wrap: wrap; ">
                            <div style="display: flex;">
                                <span>Interior Pic-3: </span>
                                <input type="file" name="interiorPic_3" (change)="onFileChange($event, 'interiorPic_3')"
                                    [attr.disabled]="interiorPic_3Status ? '' : null" />
                                <div *ngIf="!interiorPic_3Status; else elseBlock">
                                    <button class="btn btn-outline-primary" type="button"
                                        (click)="upload('interiorPic_3')">Upload</button>
                                </div>
                                <ng-template #elseBlock>
                                    <i class="fa fa-check-circle fa-2x" aria-hidden="true" style="color:green;"></i>
                                </ng-template>
                            </div>
                            <div style="display: flex;">
                                <span>Interior Pic-4: </span>
                                <input type="file" name="interiorPic_4" (change)="onFileChange($event, 'interiorPic_4')"
                                    [attr.disabled]="interiorPic_4Status ? '' : null" />
                                <div *ngIf="!interiorPic_4Status; else elseBlock">
                                    <button class="btn btn-outline-primary" type="button"
                                        (click)="upload('interiorPic_4')">Upload</button>
                                </div>
                                <ng-template #elseBlock>
                                    <i class="fa fa-check-circle fa-2x" aria-hidden="true" style="color:green;"></i>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>


    <div style="display: flex; align-items: center; justify-content: center; ">
        <div *ngIf="error">
            {{ error.message }}
        </div>
        <div *ngIf="uploadResponse.status === 'error'">
            {{ uploadResponse.message }}
        </div>
        <div *ngIf="uploadResponse.status === 'progress'">

            <div role="progressbar" [style.width.%]="uploadResponse.message" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100">
                {{uploadResponse.message}}%
            </div>

        </div>
    </div>
</div>