@import 'abstracts/mixins';
@import 'abstracts/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';


.viewkyc{
    &__container{
        // display:flex;
        // flex-direction:row;
        min-height : 100vh;
        // min-width: 100vh;
        // background-color: yellow;
    }
}
.no-gutters {
    @include no-gutters;
 }
// :host::ng-deep ngx-gallery, ngx-gallery-arrow {
//     /* your styles */
//     color: green;
// }

:host ::ng-deep .ngx-gallery-icon .ngx-gallery-icon-content {
    color: deepskyblue;
}
.invalid-feedback {
    display: block;
  }