@import 'abstracts/mixins';
@import 'abstracts/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import 'abstracts/placeholders';


.viewkyc{
    &__container{
        display:flex;
        flex-direction:column;
        min-height : 100vh;
    }
}
.no-gutters {
    @include no-gutters;
 }

:host ::ng-deep .ngx-gallery-icon .ngx-gallery-icon-content {
    color: deepskyblue;
}
.invalid-feedback {
    display: block;
  }
 