<div class="container-fluid no-gutters details__container">
    <div class="details__title_bar">
        <img class="img-responsive" src="assets/OyeWallet.png">
    </div>
    <div class="row no-gutters details__sub_container">
        <div class="col-sm-1 d-none d-sm-block no-gutters">
            <img class="img-responsive left_bar_img" src="assets/home_left_side.png">
        </div>
        <div class="col-sm-10 col-xs-12 no-gutters">
            <div class="row no-gutters">
                <div class="title_container">
                    <img class="img-responsive" src="assets/home_bag.png">
                    <div class="header-text">Cafe N Cakes</div>
                    <div class="status-text-box">
                        Status: <div class="status_txt">&nbsp;{{storeStatus}}</div>
                    </div>
                </div>
                <div>
                </div>
            </div>
            <div class="row no-gutters details__content_box">
                <div class="card-shadow">
                    <div>
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 2%;">
                                        <!-- style="width: 20%;" -->
                                        <!-- <label style="margin-bottom:0px"> -->
                                        <input type="checkbox" (change)="CheckAllOptions(this)">
                                        <!-- Select All -->
                                        <!-- </label> -->
                                    </th>
                                    <th scope="col" style="width: 20%;">Document Type</th>
                                    <th scope="col" style="width: 30%;">Details</th>
                                    <th scope="col" style="width: 28%;">Image</th>
                                    <th scope="col" style="width: 20%;">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="storeDetails.panDetails">
                                    <td class="align-middle">
                                        <input type="checkbox" (change)="checkOption(this)">
                                    </td>
                                    <td class="store_name_style align-middle">PAN</td>
                                    <td class="store_name_style align-middle">{{storeDetails.panDetails.panNumber}}</td>
                                    <td class="store_name_style align-middle">
                                        <img class="details__image_style" [src]="testImageUrl_1" alt="Locality"
                                            width="60px" height="60px" (click)="open(1)" />
                                        <img class="details__image_style" [src]="testImageUrl_1" alt="Locality"
                                            width="60px" height="60px" (click)="open(1)" />
                                    </td>
                                    <td class="align-middle">
                                        <div *ngIf="!showPanStatus; else elseBlock">
                                            <input type='button' style="margin: 4px;" class="btn btn-info"
                                                value="Approve" (click)="approve('pan-approve')">
                                            <app-input-modal [displayBtnText]="rejectBtnText"
                                                [modalTitle]="rejectModalTitle" modalId="1"
                                                (onSave)="reject($event, 'pan-reject')" (onCancel)="$event">
                                            </app-input-modal>
                                        </div>
                                        <ng-template #elseBlock>
                                            <div
                                                [ngClass]="{'text-approved':isPanApproved,'text-rejected':!isPanApproved}">
                                                <div *ngIf="isPanApproved; else rejectBlock">
                                                    APPROVED
                                                </div>
                                                <ng-template #rejectBlock>
                                                    <div>REJECTED</div>
                                                    <div>Reason: {{panRejectionReason}}</div>
                                                </ng-template>
                                            </div>
                                        </ng-template>
                                    </td>
                                </tr>
                                <tr *ngIf="storeDetails.localityDetails">
                                    <td class="align-middle">
                                        <input type="checkbox" (change)="checkOption(this)">
                                    </td>
                                    <td class="store_name_style align-middle">Address</td>
                                    <td class="store_name_style align-middle">
                                        <div style="display: flex; flex-direction: column;">
                                            <span>{{storeDetails.localityDetails.address}}</span>
                                            <span>{{storeDetails.localityDetails.city}}</span>
                                            <span>{{storeDetails.localityDetails.state}}</span>
                                            <span>{{storeDetails.localityDetails.pinCode}}</span>
                                        </div>
                                    </td>
                                    <td class="store_name_style align-middle">
                                        <img class="details__image_style" [src]="testImageUrl_1" alt="Locality"
                                            width="60px" height="60px" (click)="open(1)" />
                                        <img class="details__image_style" [src]="testImageUrl_1" alt="Locality"
                                            width="60px" height="60px" (click)="open(1)" />
                                    </td>
                                    <td class="align-middle">
                                        <div *ngIf="!showAddressStatus; else elseBlock">
                                            <input type='button' style="margin: 4px;" class="btn btn-info"
                                                value="Approve" (click)="approve('address-approve')">
                                            <app-input-modal [displayBtnText]="rejectBtnText"
                                                [modalTitle]="rejectModalTitle" modalId="2"
                                                (onSave)="reject($event, 'address-reject')" (onCancel)="$event">
                                            </app-input-modal>
                                        </div>
                                        <ng-template #elseBlock>
                                            <div
                                                [ngClass]="{'text-approved':isAddressApproved,'text-rejected':!isAddressApproved}">
                                                <div *ngIf="isAddressApproved; else rejectBlock">
                                                    APPROVED
                                                </div>
                                                <ng-template #rejectBlock>
                                                    <div>REJECTED</div>
                                                    <div>Reason: {{addressRejectionReason}}</div>
                                                </ng-template>
                                            </div>
                                        </ng-template>
                                    </td>
                                </tr>
                                <tr *ngIf="storeDetails.aadharDetails">
                                    <td class="align-middle">
                                        <input type="checkbox" (change)="checkOption(this)">
                                    </td>
                                    <td class="store_name_style align-middle">Aadhar</td>
                                    <td class="store_name_style align-middle">
                                        {{storeDetails.aadharDetails.udyogAadharNo}}</td>
                                    <td class="store_name_style align-middle">
                                        <img [src]="testImageUrl_1" class="details__image_style" alt="Locality"
                                            width="60px" height="60px" (click)="open(1)" />
                                        <img [src]="testImageUrl_1" class="details__image_style" alt="Locality"
                                            width="60px" height="60px" (click)="open(1)" />
                                    </td>
                                    <td class="align-middle">
                                        <div *ngIf="!showAadharStatus; else elseBlock">
                                            <input type='button' style="margin: 4px;" class="btn btn-info"
                                                value="Approve" (click)="approve('aadhar-approve')">
                                            <app-input-modal [displayBtnText]="rejectBtnText"
                                                [modalTitle]="rejectModalTitle" modalId="3"
                                                (onSave)="reject($event, 'aadhar-reject')" (onCancel)="$event">
                                            </app-input-modal>
                                        </div>
                                        <ng-template #elseBlock>
                                            <div
                                                [ngClass]="{'text-approved':isAadharApproved,'text-rejected':!isAadharApproved}">
                                                <div *ngIf="isAadharApproved; else rejectBlock">
                                                    APPROVED
                                                </div>
                                                <ng-template #rejectBlock>
                                                    <div>REJECTED</div>
                                                    <div>Reason: {{aadharRejectionReason}}</div>
                                                </ng-template>
                                            </div>
                                        </ng-template>
                                    </td>
                                </tr>
                                <tr *ngIf="storeDetails.bankDetails">
                                    <td class="align-middle">
                                        <input type="checkbox" (change)="checkOption(this)">
                                    </td>
                                    <td class="store_name_style align-middle">Bank Details</td>
                                    <td class="store_name_style align-middle">
                                        <div style="display: flex; flex-direction: column;">
                                            <span>{{storeDetails.bankDetails.payeeName}}</span>
                                            <span>{{storeDetails.bankDetails.accountNumber}}</span>
                                            <span>{{storeDetails.bankDetails.ifscCode}}</span>
                                        </div>
                                    </td>
                                    <td class="store_name_style align-middle">
                                        <img [src]="testImageUrl_1" class="details__image_style" alt="Locality"
                                            width="60px" height="60px" (click)="open(1)" />
                                        <img [src]="testImageUrl_1" class="details__image_style" alt="Locality"
                                            width="60px" height="60px" (click)="open(1)" />
                                    </td>
                                    <td class="align-middle">
                                        <div *ngIf="!showBankDetailStatus; else elseBlock">
                                            <input type='button' style="margin: 4px;" class="btn btn-info"
                                                value="Approve" (click)="approve('bank-approve')">
                                            <app-input-modal [displayBtnText]="rejectBtnText"
                                                [modalTitle]="rejectModalTitle" modalId="4"
                                                (onSave)="reject($event, 'bank-reject')" (onCancel)="$event">
                                            </app-input-modal>
                                        </div>
                                        <ng-template #elseBlock>
                                            <div
                                                [ngClass]="{'text-approved':isBankDetailsApproved,'text-rejected':!isBankDetailsApproved}">
                                                <div *ngIf="isBankDetailsApproved; else rejectBlock">
                                                    APPROVED
                                                </div>
                                                <ng-template #rejectBlock>
                                                    <div>REJECTED</div>
                                                    <div>Reason: {{bankRejectionReason}}</div>
                                                </ng-template>
                                            </div>
                                        </ng-template>
                                    </td>
                                </tr>
                                <tr *ngIf="storeDetails.chequeDetails">
                                    <td class="align-middle">
                                        <input type="checkbox" (change)="checkOption(this)">
                                    </td>
                                    <td class="store_name_style align-middle">Cheque</td>
                                    <td class="store_name_style align-middle">
                                        {{storeDetails.chequeDetails.udyogAadharNo}}</td>
                                    <td class="store_name_style align-middle">
                                        <img [src]="testImageUrl_1" class="details__image_style" alt="Locality"
                                            width="60px" height="60px" (click)="open(1)" />
                                        <img [src]="testImageUrl_1" class="details__image_style" alt="Locality"
                                            width="60px" height="60px" (click)="open(1)" />
                                    </td>
                                    <td class="align-middle">
                                        <div *ngIf="!showChequeDetailStatus; else elseBlock">
                                            <input type='button' style="margin: 4px;" class="btn btn-info"
                                                value="Approve" (click)="approve('cheque-approve')">
                                            <app-input-modal [displayBtnText]="rejectBtnText"
                                                [modalTitle]="rejectModalTitle" modalId="5"
                                                (onSave)="reject($event, 'cheque-reject')" (onCancel)="$event">
                                            </app-input-modal>
                                        </div>
                                        <ng-template #elseBlock>
                                            <div
                                                [ngClass]="{'text-approved':isChequeDetailsApproved,'text-rejected':!isChequeDetailsApproved}">
                                                <div *ngIf="isChequeDetailsApproved; else rejectBlock">
                                                    APPROVED
                                                </div>
                                                <ng-template #rejectBlock>
                                                    <div>REJECTED</div>
                                                    <div>Reason: {{chequeRejectionReason}}</div>
                                                </ng-template>
                                            </div>
                                        </ng-template>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="button_group"
                        *ngIf="showChequeDetailStatus&&showBankDetailStatus&&showAadharStatus&&showPanStatus&&showAddressStatus">
                        <input type='button' style="margin-right: 5px;" class="btn btn-info" value="Submit" (click)="onSubmit()">
                        <input type='button' style="margin-right: 5px;" class="btn btn-danger" value="Cancel"
                            (click)="goBack()">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1 no-gutters"></div>

    </div>

</div>