// Login page varibles
$login_txt_color : #FFB81A;
$login_page_buttons_bgcolor: $login_txt_color;
$login_page_buttons_border_color: rgb(240, 164, 51);
$login_header_txt_fontfamily: 'Quiksand, Sans-serif';
$login_other_txt_fontfamily: 'Calibri, Sans-serif';
$login_header_txt_fontweight:100;
$login_header_txt_fontsize:3.5vw;

