@import 'abstracts/mixins';
@import 'abstracts/variables';
@import 'abstracts/placeholders';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

a{
    text-decoration: none !important;
    :hover{
        color:white;
        text-decoration:none !important;
        cursor:pointer;
    }
}
.card-view {
    width: 220px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include card-shadow;
    border-radius: 50px;

    @include media-breakpoint-down(sm) {  
        width: 180px;
        height: 70px;
    }
    @include media-breakpoint-down(md) {  
        width: 200px;
        height: 80px;
    }
}
.card-view:hover{
    background-color: #f3f3f3;
    cursor: pointer !important;
}
div.header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 40px;
}
.card-text{
      text-align: center;
      font-size: 18px;
}
.home{
    &__container{
            display:flex;
            flex-direction:column;
            min-height : 100vh;
    }
}
.menu-container{
    @include flex-container(row, flex-start, space-between);
    flex: 1;
    @include media-breakpoint-down(sm) {  
        @include flex-container(column, center, space-around);
      }
}
.menu-outer-container{
    @include flex-container(row, flex-start, space-between);
    margin-top: 100px;
    flex: 1;
    @include media-breakpoint-down(sm) {  
        @include flex-container(column, center, space-around);
        margin-top: 30px;
    }
}

